<section id="contact" class="bg-dark">
  <div class="container">
    <form class="row" action="{% url 'blog_posts' %} " method="POST"> {% csrf_token %}
      <div class="col s12 m12 l12">
        <div class="row align-all">
          <div class="col s12 m12 l6">
            <div class="col s12 m12 l12">
              <h3>Contact</h3>
            </div>
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">person</i>
              <input type="text" id="full_name" name="full_name" class="validate" required>
              <label for="full_name">Full Name</label>
            </div>
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">email</i>
              <input type="text" id="email" name="email" class="validate" required>
              <label for="email">Email</label>
            </div>
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">subject</i>
              <input type="text" id="subject" name="subject" class="validate" required>
              <label for="subject">Subject</label>
            </div>
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="message" class="materialize-textarea" data-length="120" name="message" class="validate" required></textarea>
              <label for="message">Message</label>
            </div>
            <div class="input-field col s12 m12 l12 offset-s1 offset-m1 offset-l1">
              <button class="btn blue" type="submit" value="Send">Send <i class="material-icons right">send</i></button>
            </div>
          </div>
          <div class="col s12 m12 l6 center hide-on-small-only">
            <i class="far fa-envelope fa-10x"></i>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>